[Unit]
Description=Go Daemon service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/daemon/daemon.out

[Install]
WantedBy=multi-user.target